{% load static %}

<div class="content"></div>
  <div class="content2">
    <hr>
    <div class="row">
        <div class="col">
          <img id="gambar2" class="gambar" src="{% static "vendoor/img/asset2.png" %}">
        </div>
        <div class="col">
          <img id="gambar3" src="{% static "vendoor/img/asset3.png" %}">
        </div>
        <div class="col">
          <img id="gambar4" src="{% static "vendoor/img/asset4.png" %}">
        </div>
      </div>
    </div>
</div>