body {
	background-color: #51B7FF;
}

.footer img {
		width: 300px;
		border-radius: 10px;
}

.contents h1 {
	font-family: 'Montserrat', sans-serif;
}

@media (min-width: 992px) {
	.contents h1 {
		font-family: 'Gayathri', sans-serif;
		margin: 50px;
		text-shadow: 2px 2px 2px 2px #fff;
		size: 600;
	}

	.footer img {
		width: 1100px;
		border-radius: 10px;
	}
}